.faq{
    margin:80px auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-questions-container{
    width: 70%;
    border: 2px solid #F8F9FA;
    padding: 22px 32px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;

}
.faq-questions{
    display: flex;
    justify-content: space-between;
   
}
.faq-questions >button {
    background-color: transparent;
}

.faq-questions >button >img{
  height: 24px;
  width: 24px;
}

.faq-questions >h2{
    font-size: 20px;
    font-weight: 500;
    color: #6D747A;
}


.faq-content{
    max-height: 0;
    /* margin-top: 16px; */
    overflow: hidden;
    transition:  all 0.5s cubic-bezier(0,1,0,1) ease-in;

}


.faq-questions-active >h2{
    font-weight: 600;
   
    color: var(--color-7)
}


.faq-content-show{
    height: auto;
    max-height: 999px;
     margin-top: 16px;
    transition:  all 0.5s cubic-bezier(1,0,1,0) ease-out ;

}

/* FAQ TITLE */


.faq-title{
    margin-bottom: 40px;
}

.faq-title > h1{
    font-weight: 500;
    font-size: 40px;
}
/* FAQ FOOTER  */
.faq-footer{
    width: 50%;
    margin:80px auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-footer > p{
  text-align: center;
  color: var(--gray-6);
  margin: 5px;
}
.faq-footer > h1{
 font-weight: 500;
  }

  /* MOBILE */

  @media only screen and (max-width: 735px) {
    .faq-questions-container{
        width: 100%;
        
    
    }
    .faq-footer{
        width: 100%;
        
    }
    .faq-title{
        justify-content: center;
    } 

    .faq-title > h1{
       font-weight: bold;
        font-size:30px;
    }
  }

  @media only screen and (max-width: 490px) {
    .faq-title > h1{
        font-weight: bold;
         font-size:20px;
     }
  }