.blog-container {
  margin: 56px auto 64px auto;
}

.blogs-section-readblog {
  max-width: 1200px;
  width: 100%;
}
/* HIGH LIGHED BLOG POST  */

.hlblog {
  justify-content: space-around;
}
.hlblog-text {
  padding-right: 32px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.hlblog-img > img {
  max-height: 360px;
  max-width: 582;
}

.hlseperator {
  width: 100%;
  border: 1px solid var(--gray-6);
  margin: 64px 0;
}

/* BLOG POST CONTAINER */
.blog-posts-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blog-posts-container:first-child {
  display: none;
}

/* BLOG CARD */

.blog-post-card {
  margin-bottom: 64px;

  max-width: 560px;
}

.blog-post-card .img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.post-card-info {
  text-align: left;
}

.post-card-info > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: var(--color-9);
}

.post-card-info p {
  word-wrap: break;
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--gray-6);
}

/* READBLOG */

.blog-content-data div img {
  /* height: 100px; */
  width: 100%;
}

.readBlog-container {
  max-width: 794px;
  margin: auto;
}
.readBlog-img {
  display: flex;
  justify-content: center;
}

.readBlog-img > img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.readBlog {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.readBlog-text > p {
  margin-top: 48px;
  font-size: 20px;
  line-height: 38px;
}
.readBlog-details {
  margin-top: 12px;
}

.readBlog-details > p:nth-child(1) {
  color: var(--color-7);
  font-weight: 600;
}
.readBlog-details > p:nth-child(2) {
  margin-right: 20px;
  color: var(--gray-6);
  font-weight: 600;
}

.readBlog-details {
  display: flex;
}

.readblog-detals-hr {
  border: 1px solid var(--gray-6);
  height: 18px;
  margin: 0 10px;
}

.hlblog-text button {
  min-width: 138.47px;
  min-height: 48px;
  font-weight: 500;
  font-size: 16px;
}

/* RELATED ARTICLE */
.read-articels-container {
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.read-articels-container > h1 {
  margin-bottom: 40px;
  font-size: 20px;
}

.read-articels {
  width: 70%;
  margin: auto;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media only screen and (max-width: 1365px) {
  .readBlog-img > img {
    width: 80%;
    margin-top: 40px;
  }

  .hlblog-img > img {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
  }
  .blog-post-card {
    max-width: 460px;
  }
  .hlblog-text button {
    margin-top: 20px;
    min-width: 120.47px;
    min-height: 40px;
    font-weight: 500;
    font-size: 16px;
  }
  .hlblog-text h1 {
    font-size: 26px;
  }
  .hlblog-text p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 900px) {
  .blog-post-card {
    max-width: 360px;
  }

  .hlblog {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .hlblog-text {
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hlblog-img > img {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .blog-post-card {
    max-width: 560px;
  }

  .hlblog-text h1 {
    font-size: 20px;
  }
  .hlblog-text p {
    font-size: 14px;
  }
}
