.consultation {
  position: relative;
  height: 620px;
  background-image: url("../../Assets/fruit-outline.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.consultation .text {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.consultation .text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: var(--color-7);
  margin-bottom: 40px;
}

.consultation .text button {
  border-radius: 8px;
}



@media screen and (min-width: 700px) {
  .consultation {
    height: 800px;
    background-image: url("../../Assets/fruits-outline-2.png");
  
  }
}

@media screen and (min-width: 845px) {
  .consultation .text {
    max-width: 700px;
  }

  .consultation .text h1 {
    font-size: 56px;
  }

  .consultation .text button {
    font-size: 20px;
  }
}
