.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 48rem;
  height: 32rem;
  border-radius: 0.5rem;
  z-index: 100;
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border-radius: 0.5rem; */
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
