/* background colors */
.bg-color-1 {
  background-color: var(--color-1);
}
.bg-color-1 {
  background-color: var(--color-2);
}

.bg-color-3 {
  background-color: var(--color-3);
}

.bg-color-4 {
  background-color: var(--color-4);
}

.bg-color-5 {
  background-color: var(--color-5);
}

.bg-color-6 {
  background-color: var(--color-6);
}

.bg-color-7 {
  background-color: var(--color-7);
}

.bg-color-9 {
  background-color: var(--color-9);
}

/* BLUE VERSION */
.bg-color-10 {
  background-color: var(--color-10);
}
.bg-color-11 {
  background-color: var(--color-11);
}
.bg-color-12 {
  background-color: var(--color-12);
}
.bg-color-13 {
  background-color: var(--color-13);
}
.bg-color-14 {
  background-color: var(--color-14);
}
.bg-color-15 {
  background-color: var(--color-15);
}
.bg-color-16 {
  background-color: var(--color-16);
}
.bg-color-17 {
  background-color: var(--color-17);
}
