.btn {
  border-radius: 20px;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
}

.btn:hover {
  transition-property: color, opacity, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.btn-dark {
  background-color: var(--color-7);
  color: var(--color-1);
}

.btn-ol-light {
  border: 2px solid var(--color-7);
  background-color: transparent;
  color: var(--color-7);
  border-radius: 24px;
  width: 140px;
  height: 48px;
}

.btn-dark:hover {
  opacity: 0.7;
}

.btn-light {
  background-color: var(--color-1);
  color: var(--color-7);
}

.btn-light:hover {
  background-color: var(--color-4);
}

.btn-toggle {
  border: 1px solid var(--color-7);
  background-color: var(--color-1);
  color: var(--color-7);
}

.btn-toggle:hover {
  background-color: var(--color-7);
  color: var(--color-1);
}

.btn-dark:disabled{
  background-color: #707bb7;
  /* border: 2px solid rgb(120, 120, 120); */
  /* color: var(--grey-6); */
  color: rgba(255, 255, 255, 0.445);
}

.btn-dark:disabled:hover{
  background-color: #707bb7;
  
  cursor:not-allowed;

}