.admin{
    min-height: 100vh;
    background-color: #E5E5E5;  
}

.admin-login-container{
    min-height: 100vh;
   
    background-color: var(--color-7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-login-btn-container{
margin-top: 20px;
}

.admin-login{
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin-login >form{
    display: flex;
   
    flex-direction: column; 
}

.admin-login >form >input{
   padding: 20px;
   border-radius: 8px; 
   font-size: 1.1em;
   margin-top: 20px;
}
.admin-login >form >button{
    margin-top: 20px;
 }

.admin-login >form >h1{
   color: white;
 }


 .form-err-text{
     color: red;
     text-align: left;
     padding-top:5px ;
     
    }
/* DASHBOARD */

.dashboard{
   display: flex;
    height: 100%;
   
   
}

.dashboardmenu{
    
    flex: 1 1 10rem ;
   
    min-height: 100vh;
    max-width: 372px;
   
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.0.2);
    background-color: #fff;
  
   

}

.menuitem{
   
    
    min-width: 100%;
    min-height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
 

   
}




.menuitem:hover ,.active{
    background-color: var(--color-7);
   
    max-height: 80px;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menuitem > h2{
   
   font-weight: 500;
}

.DashboardTiles{
    
    padding: 24px;
    flex: 1 1 10rem ;
    max-width: 100%;
  

}


/* pricingmembership TILE 1 */
.dash-col1{
    display: flex;
    flex-wrap: wrap;
}
.pricingmembership{
    flex-grow:3 ;
    margin: 12px;
    background-color: white;
    max-height: 419px;
    

    border-radius: 12px;
    padding: 24px;
    overflow: hidden;
    overflow-y: scroll;
    /* FOR MOZILLA FIREFOX SCROLL BAR DISABLE */
    scrollbar-width: none;


}

.dash-container-header{
    display: flex;
    justify-content: space-between;
}

.managecontainer{
    flex-grow:3 ;
    margin: 12px;
    background-color: white;
    max-height: 700px;
    border-radius: 12px;
    padding: 24px;
    overflow: hidden;
    overflow-y: scroll;

    /* FOR MOZILLA FIREFOX SCROLL BAR DISABLE */
    scrollbar-width: none;

}



    /* FOR CHROME SCROLL BAR DISABLE */

.managecontainer::-webkit-scrollbar {
    display: none;
  }


.pricingmembership::-webkit-scrollbar {
    display: none;
  }


.reponces::-webkit-scrollbar {
    display: none;
  }

.reponces{
    flex-grow: 1;
     margin: 12px;
    /* width: 648px; */
    background-color: rgb(255, 255, 255);
    height: 419px;
    border-radius: 12px;
    padding: 24px;
    overflow: hidden;
    overflow-y: scroll;

}
.reponces-header {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
   
}
.reponces-data{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}


  .content-table{
      border-collapse: collapse;
      margin: 25px auto;
      font-size: 0.9em;
      width: 100%;
      
  }

  .content-table thead tr{
    border-bottom:1px solid  #dddddd;
    
      color: var(--gray-6);
      text-align: center;
      font-weight: bold;
  }


  .content-table th,.content-table  td{
    padding: 15px 15px;
  }
  

  .content-table tbody tr{
      border-bottom:1px solid  #dddddd;
      text-align: center;
      color: var(--color-7);

  }

  

/* ADMIN FAQ */
adminfaq-container{
  
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    

}

.adminfaq{
    max-width: 100%;
   
   
    display: flex;
    justify-content: center;
   
    flex-direction: column;

}


.adminfaq-card{
    background-color: #E5E5E5;  
    color: black;
    
    max-width:792px;
    height: 72px;
    display: flex;
padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 14px;
}


.adminfaq-card > button > img {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adminfaq-card > button  {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center
}

.adminfaq-edit, .adminblog-edit  {
    margin: 32px 0;
    max-width: 792px;
    height: 100%;
}

.blog-edit-img{
    max-width: 50%;
    object-fit: contain;
}




.adminfaq-edit >form> h2 , .adminblog-edit >form> h2 {
    font-weight: 500;
}

.faqedittext , .blogedittext{
    border-radius: 8px;
    width: 100%;
    min-height: 72px;
    padding: 16px;
    font-size: 20px;
    background-color: #E5E5E5;  

    color: #6D747A;
    margin: 16px 0;
}

.adminsavebtn{
    display: flex;
    justify-content: flex-end;
}

/* BLOG */
.adminblog{
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.add-ctaBtn-container{
    
    width: 100%;
    display: flex;
    margin-top: 50px;
align-items: center;
justify-content: flex-end;
   
}


.responsesDetail {
    display: flex;
    padding: 1rem 0;
justify-content: flex-start;
    border-bottom: 1px solid var(--gray-6);
}

.responsesDetail h4{
   font-weight: 500;
  color:  var(--gray-6);
  flex: 1;
  margin-right: 1rem;
}

.responsesDetail p{
    font-weight: 500;
   color:  var(--color-7);
  flex: 10;

 }


@media only screen and (max-width: 870px) {
    .dashboardmenu{
        display: none;
    }

    .managecontainer{
        max-width: 100%;
        overflow: hidden;
        overflow-x: scroll;
    }

    .DashboardTiles{
    
        padding: 0px;
        flex: 1 1 0rem ;
        max-width: 100%;
      
    
    }
    
  
  }