.admin{
    min-height: 100vh;
    background-color: #E5E5E5;
}



/* DASHBOARD */

.dashboard{
   display: flex;
    height: 100%;
   
}
.dashboardmenu2{
    flex: 1 1 40rem ;
    /* position: relative; */
    min-height: 92vh;
    max-width: 372px;
}
.dashboardmenu{
    flex: 1 1 40rem ;
    position: fixed;
    min-height: 92vh;
    width: 372px;
    
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.0.2);
    background-color: #fff;
   

}

.menuitem{
    /* background-color: white; */
    width: 100%;
    height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.menuitem:hover{
    background-color: var(--color-7);
    width: 100%;
    height: 80px;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menuitem > h2{
   
   font-weight: 500;
}

.DashboardTiles{
    padding: 24px;
    flex: 1 1 40rem ;
  

}


/* pricingmembership TILE 1 */
.dash-col1{
    display: flex;
    flex-wrap: wrap;
}
.pricingmembership{
    flex-grow:3 ;
    margin: 12px;
    
    /* width: 648px; */
    background-color: white;
    min-height: 419px;
    border-radius: 12px;
    padding: 24px;

}

.reponces{
    flex-grow: 1;
     margin: 12px;
    /* width: 648px; */
    background-color: rgb(255, 255, 255);
    height: 419px;
    border-radius: 12px;
    padding: 24px;
}
.reponces-header {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
}
.reponces-data{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}
/* 
table {
    width: 100%;
  } */

  .content-table{
      border-collapse: collapse;
      margin: 25px auto;
      font-size: 0.9em;
      width: 100%;
      
  }

  .content-table thead tr{
    border-bottom:1px solid  #dddddd;
      /* background-color: rgb(10, 173, 222); */
      color: var(--gray-6);
      text-align: center;
      font-weight: bold;
  }


  .content-table th,.content-table  td{


    padding: 15px 15px;

  }
  

  .content-table tbody tr{
      border-bottom:1px solid  #dddddd;
      text-align: center;
      color: var(--color-7);

  }

  /* .content-table tbody tr:nth-of-type(even){
   background-color: #f3f3f3;

} */




/* ADMIN FAQ */
adminfaq-container{
  
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    

}

.adminfaq{
    width: 100%;
    flex-wrap: wrap;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}


.adminfaq-card{
    background-color: #fff;
    color: black;
    flex-wrap: wrap;
    min-width:792px;
    height: 72px;
    display: flex;
padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 14px;
}


.adminfaq-card > button > img {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adminfaq-card > button  {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center
}

.adminfaq-edit{
    margin: 32px 0;
    width: 792px;
    height: 100%;
}

.adminfaq-edit >form> h2{
    font-weight: 500;
}

.faqedittext{
    border-radius: 8px;
    width: 100%;
    min-height: 72px;
    padding: 16px;
    font-size: 20px;
    color: #6D747A;
    margin: 16px 0;
}

.adminsavebtn{
    display: flex;
    justify-content: flex-end;
}

/* BLOG */
.adminblog{
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
